.edit-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 79vh;
    width: 100vw;
    overflow: scroll;
    padding-bottom: 20px;
}

.edit-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-color);
    padding: 20px;
}

.card-toggle-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
}

.card-index-text {
    font-size: 25px;
    margin-top: 10px;
}

.edit-container::-webkit-scrollbar {
    display: none;
}

.edit-container.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}
